<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
</head>
<body>

  <nav>
    <div class="site-title">
      <a href="/"><h1>My Blog</h1></a>
      <p>My Blog Site</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>

  <div class="blogs content">
    <h2>About Us</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis, facilis doloribus quisquam aliquam nulla, quam qui deserunt sapiente quasi voluptates dolor ab voluptatum inventore pariatur. Totam omnis eligendi dolores.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, aliquid qui nisi voluptatem similique quae? Dolores laborum unde iste fugiat maiores voluptatibus nihil reiciendis, temporibus nesciunt amet itaque neque possimus iure! Soluta, enim libero. Temporibus, cupiditate sint facere ipsam illum distinctio obcaecati, earum quas porro harum soluta beatae non labore adipisci quae quos deleniti sunt numquam, vitae maxime? Maxime quia sed nam molestias hic accusantium, magni aliquid dolorum culpa veritatis optio! Quasi dolores aliquid perferendis cum id quam quod sint veritatis deserunt nam. Similique fugiat velit qui quibusdam eius architecto quam neque eum, itaque aliquam officiis illum autem consectetur iure quo error dolorem asperiores est at dolor. Nesciunt quasi est dolore cumque ex nisi, molestias perferendis, maiores voluptatibus laudantium quidem, totam iusto nobis! Ipsa exercitationem numquam dignissimos perspiciatis excepturi laboriosam ex dolor! Dolores consequatur molestiae atque nesciunt excepturi natus tempore, quae totam aspernatur sapiente magni enim odio fugit ad, dicta quasi cupiditate sunt quos eaque illum culpa. Molestiae magnam saepe ab odio facere dicta eos nemo explicabo. A illo in sunt dicta ea consectetur veritatis labore? Excepturi laborum adipisci voluptates distinctio tenetur unde, non provident beatae. Ducimus itaque commodi inventore mollitia reiciendis necessitatibus voluptatibus ut quia voluptatem! Architecto, quod labore.</p>
  </div>
  
</body>
</html>